.profile {
  display: flex;
  padding-top: 40px;
  align-items: anchor-center;
  padding-bottom: 51px;
}

.profile__info {
  display: grid;
  align-items: baseline;
  align-content: center;
  grid-gap: 7px 17px;
  grid-template-areas: "title button" "description description";
}

.profile__edit-button {
  background: transparent url("../images/Edit\ Button\ \(1\).svg") center
    no-repeat;
  height: 24px;
  width: 24px;
  border-block-color: white;
  grid-area: button;
  border: 1px solid #fff;
}

.profile__add-button {
  background: transparent url("../images/Add\ Button.svg") center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-block-color: white;
  grid-area: add-button;
  border: 2px solid #fff;
}

.profile__title {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  font-family: "inter";
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 1280px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}

.profile__description {
}
