.profile {
  display: flex;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
}

.profile__edit-button {
  background: transparent url(../images/Edit\Button\\(1\).svg) center no repeat;
}
